version: "3.9"

services:
  redis:
    image: redis:7
    container_name: dev_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  redisdata:
